<div class="deploy-panel-content">
  {{#if isGM}}
    <div class="deploy-team-selector">
      <button class="team-tab {{#if (eq viewedTeam 'a')}}active{{/if}}" data-team="a">Team A</button>
      <button class="team-tab {{#if (eq viewedTeam 'b')}}active{{/if}}" data-team="b">Team B</button>
    </div>
  {{/if}}

  <div class="deploy-pool-list" data-team="{{viewedTeam}}">
    {{#each poolEntries}}
      <div class="deploy-entry {{#if isPending}}pending{{/if}}{{#if isDeployed}} deployed{{/if}}" data-instance-id="{{instanceId}}" data-actor-id="{{actorId}}">
        <img src="{{img}}" width="32" height="32"/>
        <div class="deploy-entry-info">
          <span class="deploy-entry-name" title="Double-click to rename">{{name}}</span>
          <span class="deploy-entry-detail">{{ratingLabel}} | STR {{strength}}</span>
          {{#if specialTraits}}
            <span class="deploy-entry-traits">{{specialTraits}}</span>
          {{/if}}
          {{#if isDeployed}}
            <span class="deploy-entry-deployed"><i class="fas fa-check-circle"></i> Deployed</span>
          {{else if isPending}}
            <span class="deploy-entry-pending"><i class="fas fa-crosshairs"></i>
              {{#if (eq pendingMode "meteoric_assault")}}Meteoric Assault{{/if}}
              {{#if (eq pendingMode "air_drop")}}Air Drop{{/if}}
              Designated
            </span>
          {{/if}}
        </div>
        {{#if ../canRemove}}
          <button class="remove-btn" title="Remove from pool"><i class="fas fa-times"></i></button>
        {{/if}}
      </div>
    {{/each}}
    {{#unless poolEntries.length}}
      <p class="empty-pool">No units waiting to deploy.</p>
    {{/unless}}
  </div>

  {{#if isDeployPhase}}
    <p class="phase-notice phase-active"><i class="fas fa-parachute-box"></i> Right-click a unit to deploy</p>
  {{else if isOrdersPhase}}
    <p class="phase-notice phase-active"><i class="fas fa-meteor"></i> Right-click to designate Meteoric Assault / Air Drop</p>
  {{else}}
    <p class="phase-notice"><i class="fas fa-clock"></i> Deploy in Deploy phase; designate special drops in Orders phase</p>
  {{/if}}

  {{#if canAdd}}
    <button class="add-unit-btn"><i class="fas fa-plus"></i> Add Unit</button>
  {{/if}}
</div>
