<form class="{{cssClass}} star-mercs sheet item weapon" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img"
         title="{{item.name}}" height="48" width="48"/>
    <h1 class="item-name">
      <input name="name" type="text" value="{{item.name}}" placeholder="Weapon Name"/>
    </h1>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>Attack Type</label>
      <select name="system.attackType">
        {{selectOptions attackTypeChoices selected=system.attackType}}
      </select>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Damage</label>
        <input type="number" name="system.damage" value="{{system.damage}}" min="1"/>
      </div>

      <div class="form-group">
        <label>Range</label>
        <div class="input-with-suffix">
          <input type="number" name="system.range" value="{{system.range}}" min="1"/>
          <span class="suffix">hexes</span>
        </div>
      </div>
    </div>

    <h3>Weapon Traits</h3>
    <div class="form-row">
      <div class="form-group checkbox-group">
        <label>
          <input type="checkbox" name="system.indirect" {{checked system.indirect}}/>
          Indirect
        </label>
      </div>
      <div class="form-group checkbox-group">
        <label>
          <input type="checkbox" name="system.area" {{checked system.area}}/>
          Area
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>Accurate [X]</label>
        <input type="number" name="system.accurate" value="{{system.accurate}}" min="0"/>
      </div>
      <div class="form-group">
        <label>Inaccurate [X]</label>
        <input type="number" name="system.inaccurate" value="{{system.inaccurate}}" min="0"/>
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea name="system.description" rows="4">{{system.description}}</textarea>
    </div>
  </section>
</form>
