<div class="items-section traits-section">
  <div class="items-header">
    <h3>{{localize "STARMERCS.Traits"}}</h3>
    <a class="item-create" data-type="trait" title="Add Trait">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  {{#if traits.length}}
    <ol class="item-list trait-list">
      {{#each traits as |trait|}}
      <li class="item trait-item {{#unless trait.system.active}}trait-inactive{{/unless}}" data-item-id="{{trait._id}}">
        <span class="item-name clickable item-chat" title="Post to Chat">
          <img src="{{trait.img}}" width="24" height="24"/>
          {{trait.name}}
          {{#if trait.system.traitValue}}
            <span class="trait-bracket">[{{trait.system.traitValue}}]</span>
          {{/if}}
        </span>
        <span class="item-detail trait-mode">{{trait.system.passive}}</span>
        <span class="item-controls">
          <label class="trait-toggle" title="Toggle Active">
            <input type="checkbox" class="trait-active-toggle"
                   data-item-id="{{trait._id}}"
                   {{#if trait.system.active}}checked{{/if}} />
          </label>
          <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
          <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
        </span>
      </li>
      {{/each}}
    </ol>
  {{else}}
    <p class="empty-list">No traits. Click + to add one.</p>
  {{/if}}
</div>
